 <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Khoa CNTT</h2>
            <h6>Địa chỉ : 96 Định Công - Hoàng Mai - Hà Nội</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav">
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Tổ chức</a></li>
              <li><a href="#">Đào tạo</a></li>
              <li><a href="#">Tin tức</a></li>
              <li><a href="#">NCHK</a></li>
              <li><a href="#">Diễn Đàn</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>LIÊN HỆ</h2>
            <p>Nguyễn Hữu Thắng</p>
            <p>Email: huuthang.nguyen.986@gmail.com</p>
              <p>Số điện thoại : 0974997025</p>
            <address>
           Địa chỉ : Hà nội
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      
      <p class="developer">Developed By Vũ Tuấn Anh</p>
    </div>
  </footer>