 <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
           {{#each postsID}}
              <div class="single_page">
            
            <h1>{{title}}</h1>
            <div class="post_commentbox"><a href="#"><i class="fa fa-tags"></i>{{tag}}</a> </div>
            
            {{{noiDung}}}
          </div>
          <div>
          </div>
           {{/each}}
          
  

        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Liên Quan</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="/post/616d88dd027314c7c022aaae" class="media-left"> <img alt="" src="/images/logo.png"> </a>
                  <div class="media-body"> <a href="/post/616d88dd027314c7c022aaae" class="catg_title"> Quy chế đào tạo trình độ Đại học của Trường ĐH Mở Hà Nội</a> </div>
                </div>
              </li>
            
            </ul>
        </aside>
      </div>
    </div>
      <hr>
  </section>
